<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap")
    @Styles.Render("~/Bebroom/css")
    @Styles.Render("~/Livingroom/css")
    @Styles.Render("~/Workroom/css")
    @Styles.Render("~/Diningroom/css")
    @Styles.Render("~/Product/css")
    @Styles.Render("~/AboutUs/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <header id="masthead" class="site-header" role="banner">
        <div class="site-branding">
            <div class="header-logo" id="body-logo">
                <a href="/">
                    <img src="~/Images/logo.png" alt="OURHOME'S FURNITURE" />
                </a>
            </div>
        </div>
        <div class="navbar-link">
            <ul id="primary-menu">
                <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                <li>@Html.ActionLink("BED ROOM", "Index", "BedRoom")</li>
                <li>@Html.ActionLink("LIVING ROOM", "Index", "LivingRoom")</li>
                <li>@Html.ActionLink("WORK ROOM", "Index", "WorkRoom")</li>
                <li>@Html.ActionLink("DINING ROOM", "Index", "DiningRoom")</li>
                <li>@Html.ActionLink("PRODUCT", "Index", "Products")</li>
            </ul>
        </div>
    </header>


    <div class="container body-content">
        @RenderBody()

        <br />


    </div>
    <div class="footer-content">

        <p>
            Copyright &copy; 2021
            <a href="/">OUR HOME. All right reserved</a>
        </p>
        <p class="Contact">1800 1234 - OurHome@gmail.com</p>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
