<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <header id="masthead" class="site-header" role="banner">
        <div class="site-branding">
            <div class="header-logo" id="body-logo">
                <a href="">
                    <img src="~/Images/logo.png" alt="OURHOME'S FURNITURE" />
                </a>
            </div>
        </div>
        <div class="navbar-link">
            <ul id="primary-menu">
                <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                <li>@Html.ActionLink("BED ROOM", "Index", "BedRoom")</li>
                <li>@Html.ActionLink("LIVING ROOM", "Index", "LivingRoom")</li>
                <li>@Html.ActionLink("KITCHEN", "Index", "Home")</li>
                <li>@Html.ActionLink("DINING ROOM", "Index", "BedRoom")</li>
                <li>@Html.ActionLink("DECORATING GOODS", "Index", "LivingRoom")</li>
                <li>@Html.ActionLink("PRODUCT", "Index", "Products")</li>
            </ul>
        </div>
    </header>


    <div class="container body-content">
        @RenderBody()

        <br />
        <div class="footer">
            Contact: 1800 1234

        </div>

    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
