<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="masthead" class="site-header" role="banner">
        <div class="site-branding">
            <div class="header-logo">
                <img src="/Images/logo.png" alt="Image Logo" />
            </div>
        </div>
    </div>
    <div class="primary-nav-container">
        <nav id="primary-nav" class="primary-nav" role="navigation">
            @*<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Primary Menu</button>*@
            <div class="menu-top-container">
                <ul id="primary-menu" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-30172"><a href="https://www.style-files.com" aria-current="page">HOME</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30169"><a href="https://www.style-files.com/about/">ABOUT</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30295"><a href="https://www.style-files.com/shop/">CONTACT</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31366">@Html.ActionLink("Living Room", "Index", "LivingRoom")</li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31367">@Html.ActionLink("Dining Room", "Index", "DiningRoom")</li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31368">@Html.ActionLink("Bed Room", "Index", "BedRoom")</li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31369">@Html.ActionLink("Work Room", "Index", "WorkRoom")</li>
                </ul>
            </div>
        </nav>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
