@model demo_02.ViewModel.CheckoutViewModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CheckOutSite.css" rel="stylesheet" />
@using (Html.BeginForm())
{

    <div class="container">


        @{ var cartSession = Session["Cart"] as demo_02.Models.Cart; }
        <div class="Bill">
            @if (cartSession != null)
            {
            <div class="Info-bill">
                
               @foreach (var item in cartSession.Item)
                {
                    double total = Convert.ToDouble(item.Product.Price * item.Quatity);
                <tr>
                    <td>@Html.DisplayFor(model => item.Product.NameProduct)</td>
                    @*<td><img class="w-100" src="/@item.Product.Picture1"></td>*@
                    <td>@Html.DisplayFor(model => item.Product.Price)</td>
                    <td>@cartSession.TotalQuantity()</td>
                </tr>
                }
            </div>
            <div class="Total-bill">
                <h2>Tổng hóa đơn</h2>
                <td class="total-bill">@cartSession.TotalMoney()</td>
            </div>

                }
            

            @{ var customer = Session["Customer"] as demo_02.Models.Customer;}


            @if (customer != null)
            {
                <h4 class="mb-3">Thông tin khách hàng</h4>
                <form class="needs-validation" novalidate>

                    <div class=" mb-3">
                        <label for="firstName">FullName</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="@customer.fullname" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username">Username</label>
                        <div class="input-group">

                            <input type="text" class="form-control" id="username" placeholder="Username" value="@customer.Username" required>
                            <div class="invalid-feedback" style="width: 100%;">
                                Your username is required.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" value="@customer.Email">
                        <div class="invalid-feedback">
                            Please enter a valid email address for shipping updates.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required value="@customer.Address">
                        <div class="invalid-feedback">
                            Please enter your shipping address.
                        </div>
                    </div>
                    <hr class="mb-4">

                    <button class="btn-Pay" type="submit">
                        <a href="/Cart/OrderSuccess">Thanh Toán</a></button>
                </form>
            }
        </div>
    </div>


}

