@model IEnumerable<demo_02.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room.NameRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeProduct.NameTypeProdcut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.NameStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dimension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture3)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room.NameRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeProduct.NameTypeProdcut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status.NameStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dimension)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Materials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>

            <img src="@Url.Content(item.Picture1)" height="100" width="100" />
        </td>
        <td>
            <img src="@Url.Content(item.Picture2)" height="100" width="100" />
        </td>
        <td>
            <img src="@Url.Content(item.Picture3)" height="100" width="100" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.IdProduct }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdProduct }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdProduct })
        </td>
    </tr>
    }

    </table>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container-fluid mt-3 mb-3">
    <div class="row g-2">

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="img-container">
                        @*<div class="d-flex justify-content-between align-items-center p-2 first">  </div>*@
                        <img src="@Url.Content(item.Picture1)" class="img-fluid">
                    </div>
                    <div class="product-detail-container">
                        <div class="d-flex justify-content-between align-items-center">
                            <h6 class="mb-0">@Html.DisplayFor(modelItem => item.NameProduct)</h6>
                            <span class="text-danger font-weight-bold">@Html.DisplayFor(modelItem => item.Price)</span>
                        </div>

                        <div class="btn grouplink">
                            @Html.ActionLink("Edit", "Edit", new { id = item.IdProduct }) |
                            @Html.ActionLink("Details", "Details", new { id = item.IdProduct }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdProduct })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
